body{
    background-color: brown;
    padding-top:20px   ;
    }
     
    
    
    
    header{
        float:right;
    margin-right: 233px;
    margin-top: 14px;
    
        
    }
    .logo{
    
        height:  51px; 
       padding-top: 30px;
       padding-left: 10px;
       padding-right: 26px;
    }
    
    .menu-bar{
        color: rgb(255, 255, 255);
        float:left ;
        margin: 47px;
       
    }
    .day{
        background-color: black;
        float: right;
        padding: 10px;
        margin-top: 42px;
        color: wheat;
    }